Publisher/src/main/resources/xsd/schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="class">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="className" />
              <xs:element name="classTeacher" />
              <xs:element name="room" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="student">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="age" type="xs:decimal" />
              <xs:element name="classId" type="xs:unsignedByte" />
              <xs:element name="name" type="xs:string" />
              <xs:element name="picture" type="xs:base64Binary" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>