Receiver/src/main/resources/xsd/schema.xsd

<xs:schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="root">
		<xs:complexType>
			<xs:sequence>
				<xs:element type="xs:string" name="corelId" />
				<xs:element type="xs:string" name="sender" />
				<xs:element type="xs:string" name="receiver" />
				<xs:element type="xs:string" name="userId" />
				<xs:element type="xs:string" name="fileName" />
				<xs:element type="xs:string" name="data" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>

